{% extends 'base_logged_out.html.twig' %}

{% block title %}Notification{% endblock %}

{% block content %}
    <div class="center">
        <img src="{{ asset('build/images/logo-willer-vertical.png') }} "
             alt="Logo Willer-sur-Thur"
             class="mx-auto mb-10 ">
    </div>

    <p>
       Une notification de test a étais envoyer
    </p>


{% endblock %}