{% extends 'email/base.html.twig' %}

{% block subject %}
    Votre mot de passe a été changé
{% endblock %}

{% block content %}

    <row>
        <columns>
            <p>
                Bonjour,
            </p>
            <p>
                Vous avez demandé le changement de votre mot de passe sur la plateforme citoyenne de Willer-sur-Thur. <br><br>
                Si vous n'êtes pas à l'origine de cette demande, merci de nous le signaler en répondant simplement à cet email.
            </p>
        </columns>
    </row>

{% endblock %}



