{% extends 'email/base.html.twig' %}

{% block subject %}
    Vous avez oublié votre mot de passe ?
{% endblock %}

{% block content %}

    <row>
        <columns>
            <p>
                Bonjour,
            </p>
            <p>
                Vous avez demandé à modifier votre mot de passe : <br><br>
                Pour modifier votre mot de passe, vous pouvez <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
                    cliquer ici
                </a>.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            Ce lien est valide pendant {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </columns>
    </row>
{% endblock %}


